<header class="navbar navbar-default navbar-static-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">
        <%= image_tag("logo.png", :alt => site_title) %>
      </a>
    </div>

    <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', '/' %></li>
        <li><%= link_to 'Projects', '/soon' %></li>
        <li><%= link_to 'Team', '/soon' %></li>
        <li><%= link_to 'Jobs', '/soon' %></li>
        <li><%= link_to 'Blog', '/soon' %></li>
        <li><%= link_to 'About us', '/soon' %></li>
      </ul>
    </nav><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</header>
