---
title: Implementing language bindings for airbrite.io
date: 2015/01/01 00:00:01
category: projects
tags: Backbone.js, Python, Node.js, Ruby, PHP
---

[Airbrite.io](https://www.airbrite.io/) exposes a full e-commerce sollution to
developers by means of a REST API, including product catalog,
orders and online payments.


We created API bindings for <span class="label label-success"><%= link_to "Backbone.js", tag_path("Backbone.js") %></span>
and <span class="label label-success"><%= link_to "Python", tag_path("Python") %></span>
and we are currently working
on <span class="label label-success"><%= link_to "Node.js", tag_path("Node.js") %></span>,
<span class="label label-success"><%= link_to "Ruby", tag_path("Ruby") %></span>
and <span class="label label-success"><%= link_to "PHP", tag_path("PHP") %></span> versions.
