---
title: Enabling Robotics in ARM-based Mobile Devices
date: 2015/01/01 00:00:01
category: projects
tags: ros, android, android ndk, java, cpp
line: C
---

With the sponsorship from <a href="https://www.qualcomm.com" target="_blank">Qualcomm</a> and leadership of
<a href="http://www.osrfoundation.org" target="_blank">Open Source Robotics Foundation</a>, Ekumen is working
to support the development, distribution, and adoption of open source robotics software on mobile platforms by contributing
to the <%= tag_link "ros" %> on <%= tag_link "android" %> effort.

<!-- this string indicates where the article sohuld be cut -->
READMORE

Ekumen's engineers are working to make it easier to cross-compile native <%= tag_link "ros" %>
packages for ARM processors like the high-end Qualcomm <a href="https://www.qualcomm.com/products/snapdragon">Snapdragon</a>
as well as using them as part of regular <%= tag_link "android" %> applications. As a result, a very broad set of robotics
capabilities are being made available to the large community of <%= tag_link "android" %> developers and device owners.

Contributions to the project include minute review of <%= tag_link "ros" %> packages to make them compatible with the <%= tag_link "android ndk" %>
target, improvements to scripts and <a href="http://wiki.ros.org/android_ndk/Tutorials">tutorials</a> to perform the cross-compilation,
contributions to <a href="http://wiki.ros.org/rosjava">rosjava</a> to make it easier to include cross-compiled native
packages in <%= tag_link "android" %> applications and some key <%= tag_link "ros" %> component additions that were not yet available
for the <%= tag_link "android" %> platform.

Ekumen’s team work has earned a place at <a href="http://roscon.ros.org/2015/" target="_blank">ROSCon 2015</a> in Hamburg, Germany,
where we will be talking about our <%= tag_link "ros" %> <%= tag_link "android ndk" %> contributions.
