---
title: Autonomous Delivery Robot for Hotels
date: 2015/01/01 00:00:03
category: projects
tags: service robots, fleet management, robot simulation, autonomous navigation, robot localization, ros, robot web tools, elasticsearch, python, cpp, javascript, node.js, meteor, mongo
line: A
---

<a href="http://www.savioke.com/" target="_blank">Savioke</a>'s mission is to develop affordable, usable
<%= tag_link "service robots" %> for the hospitality industry. Their aim is to
improve the lives of people by deploying autonomous robots in human environments
to help them with their daily tasks.

<!-- this string indicates where the article sohuld be cut -->
READMORE

Savioke's robots have been delighting hotel guests and curious passersby for a while now.
You may have seen them in one of their many media appearences:

- <a href="http://www.nbcbayarea.com/news/local/Hotels-Get-Delivery-Robots-Thanks-to-Bay-Area-Startup-320545532.html">Hotels Get Delivery Robots Tanks to Bay Area Startup</a> - NBC Bay Area
- <a href="https://www.yahoo.com/travel/welcome-to-the-future-robot-room-service-is-here-126098540172.html">Welcome to the Future: Robot Room Service Is Here</a> - Yahoo! Travel
- <a href="http://www.popsci.com/robot-whisperer-upgrades-your-hotel-stay">Delivery Robots are Coming to a Hotel Near You</a> - Popular Science
- <a href="http://venturebeat.com/2015/08/18/smart-robot-delivers-a-diet-coke-to-intel-chief-on-stage/">Smart robot delivers a Diet Coke to Intel chief on stage</a> - VentureBeat
- <a href="http://www.zdnet.com/article/intel-camera-gives-robots-3d-vision/">Intel camera gives robots 3D vision</a> - ZDNet
- <a href="http://www.tnooz.com/article/hotel-robots-catch-up-to-personalization-as-hot-topics-in-hospitality/#sthash.6O2No4p6.dpuf">Hotel robots catch up to personalization as hot topics in hospitality</a> - Tnooz

At Ekumen we are working closely with Savioke, contributing to different
parts of their software stack:

We are contributing to the robots <%= tag_link "autonomous navigation" %> and <%= tag_link "localization" %>
software based on (<%= tag_link "ROS" %>). These two components allow the robot to move autonomously
sharing the space with people in constantly-changing unstructured environments.

We have also developed with Savioke’s Web team a complete solution
to monitor and manage the fleet of distributed robot across different hotels.
This includes  integrating Javascript with ROS by means of roslibjs, a soft
real-time robot operations center based on <%= tag_link "MeteorJs" %> and data gathering and
analysis using <%= tag_link "Elasticsearch" %>.
