---
title: Creating the next-generation autonomous service Robot
date: 2015/01/01 00:00:03
category: projects
tags: service robots, fleet management, robot simulation, autonomous navigation, robot localization, ros, robot web tools, elasticsearch, python, cpp, javascript, node.js, meteor, mongo
line: A
---

<a href="http://www.savioke.com/" target="_blank">Savioke</a>'s mission is to develop affordable, usable
<%= tag_link "service robots" %> for the hospitality industry. Their aim is to
improve the lives of people by deploying autonomous robots in human environments
to help them with their daily tasks.

<!-- this string indicates where the article sohuld be cut -->
READMORE

Savioke's robots have been delighting hotel guests and curious visitors alike for a while now:

 - Link 1
 - Link 2

At Ekumen we are working closely with Savioke, contributing to different
parts of their software stack:

We are contributing to the robots <%= tag_link "autonomous navigation" %> and <%= tag_link "localization" %>
software based on (<%= tag_link "ROS" %>). These two components allow the robot to move autonomously
sharing the space with people in constantly-changing unstructured environments.

We have also developed with Savioke’s Web team a complete solution
to monitor and manage the fleet of distributed robot across different hotels.
This includes  integrating Javascript with ROS by means of roslibjs, a soft
real-time robot operations center based on <%= tag_link "MeteorJs" %> and data gathering and
analysis using <%= tag_link "Elasticsearch" %>.
