---
title: Inventing the next-generation user interfaces for autonomous robots
date: 2015/01/01 00:00:03
category: projects
tags: Meteor, Javascript, Rosbridge, Robot Web Tools
---

[Savioke](http://www.savioke.com/) mission is to develop affordable, usable
robots for the services industry.


At Ekumen we are helping Savioke to develop top-quality user experiences for
robot control, including autonomous navigation and teleoperation. Our approach
is based on web user interfaces using
<span class="label label-success"><%= link_to "Meteor", tag_path("Meteor") %><%= link_to "meteor", tag_path("meteor") %></span>,
<span class="label label-success"><%= link_to "Javascript", tag_path("Javascript") %></span> and
<span class="label label-success"><%= link_to "Rosbridge", tag_path("Rosbridge") %></span>, a JSON transport layer
included in the <span class="label label-success"><%= link_to "Robot Web Tools", tag_path("Robot Web Tools") %></span> bundle.
