---
title: Live online video streaming
date: 2015/01/01 00:00:04
category: projects
tags: Adobe Media Server, Amazon Cloud, HDS (HTTP Dynamic Streaming), Python, MongoDB
---

We are prototyping new content protection solutions for live video delivered
over the Internet.

For this project we used
<span class="label label-success"><%= link_to "Adobe Media Server", tag_path("Adobe Media Server") %>Adobe Media Server</span>
instances running in the <span class="label label-success"><%= link_to "Amazon Cloud", tag_path("Amazon Cloud") %>Amazon Cloud</span> and stream content
via <span class="label label-success"><%= link_to "HDS (HTTP Dynamic Streaming)", tag_path("HDS (HTTP Dynamic Streaming)") %></span>.


<!-- this string indicates where the article sohuld be cut -->
READMORE


The backend processing is implemented in
<span class="label label-success"><%= link_to "Python", tag_path("Python") %></span> and uses
<span class="label label-success"><%= link_to "MongoDB", tag_path("MongoDB") %></span> for persistence.
