---
title: Real-time Transcription through Crowdsourcing
date: 2015/01/01 00:00:05
category: projects
tags: java, javascript
line: E
---

Scribe is a research project led by researcher <a href="http://www.cs.cmu.edu/~jbigham/">Jeff Bigham</a>
that collects audio from a mobile device and schedules workers to perform captioning on small audio segments.

The distributed captions are then merged into a single text, returning a
consolidated transcript to the mobile user.

<!-- this string indicates where the article sohuld be cut -->
READMORE

We worked with <%= tag_link "Adobe Air" %> on the mobile client to stream audio
to an <%= tag_link "Adobe Media Server" %> and with <%= tag_link "Javascript" %>
and <%= tag_link "AJAX" %> in the front-end worker application.

Back-end development included creating diagnostic and debugging tools in a
<%= tag_link "LAMP Stack" %> as well as integrating with the
<%= tag_link "Java" %> process in charge of merging the distributed
transcriptions.
