---
title: Bringing personal robots to the service industry
date: 2015/01/01 00:00:06
category: projects
tags: System integration, Ember.js, Web sockets, Robot web tools, ROS stack, Kinematics analysis, C++, Python, MoveIt!
---

This project was a collaboration between Ekumen and
[Willow Garage](http://www.willowgarage.com) to take their
personal robots to the next level and turn them into products for customers
such as hospitals or restaurants.


We contributed with our expertise on
<span class="label label-success"><%= link_to "system integration", tag_path("System integration") %></span> for bringing some
of the existing modules and projects into the services market. We defined the
system architecture and adapted the development infrastructure from an open
source research project to a private product development business.


<!-- this string indicates where the article sohuld be cut -->
READMORE


At the UX level we created intuitive web interfaces for complex robotics
problems using <span class="label label-success"><%= link_to "Ember.js", tag_path("Ember.js") %></span>,
<span class="label label-success"><%= link_to "Web Sockets", tag_path("Web Sockets") %></span> and the
<span class="label label-success"><%= link_to "Robot Web Tools", tag_path("Robot web tools") %></span> bundle. We also tackle
the problem of non-expert users controlling robots under continuous operation
and end-user robot programming.


At the backend level we worked throughout the whole
<span class="label label-success"><%= link_to "ROS stack", tag_path("ROS stack") %></span> using
<span class="label label-success"><%= link_to "C++", tag_path("C++") %></span> and
<span class="label label-success"><%= link_to "Python", tag_path("Python") %></span> to implement multiple robot
networks (each one with its own master node) and extended the python client
API. We also performed <span class="label label-success"><%= link_to "Kinematics analysis", tag_path("Kinematics analysis") %></span>
on different client environments using
<span class="label label-success"><%= link_to "MoveIt!", tag_path("MoveIt!") %></span>.
