---
title: Bringing personal robots to the service industry
date: 2015/01/01 00:00:06
category: projects
tags: System integration, Ember.js, Web sockets, Robot web tools, ROS stack, Kinematics analysis, C++, Python, MoveIt!
line: C
---

This project was a collaboration between Ekumen and
<a href="http://www.willowgarage.com" target="_blank">Willow Garage</a> to take their
personal robots to the next level and turn them into products for customers
such as hospitals or restaurants.


We contributed with our expertise on <%= tag_link "system integration" %> for
bringing some of the existing modules and projects into the services market. We
defined the system architecture and adapted the development infrastructure from
an open source research project to a private product development business.


<!-- this string indicates where the article sohuld be cut -->
READMORE


At the UX level we created intuitive web interfaces for complex robotics
problems using <%= tag_link "Ember.js" %>, <%= tag_link "Web Sockets" %> and the
<%= tag_link "Robot Web Tools" %> bundle. We also tackle the problem of
non-expert users controlling robots under continuous operation and end-user
robot programming.


At the backend level we worked throughout the whole
<%= tag_link "ROS stack" %> using <%= tag_link "C++" %> and
<%= tag_link "Python" %> to implement multiple robot
networks (each one with its own master node) and extended the python client
API. We also performed <%= tag_link "Kinematics analysis" %> on different client
environments using <%= tag_link "MoveIt!" %>.
