---
title: Personal Robots for the Service Industry
date: 2015/01/01 00:00:06
category: projects
tags: service robots, fleet management, robot simulation, autonomous navigation, robot localization, ros, ros multimaster, robot web tools, python, cpp, javascript
line: C
---

This project was a collaboration between Ekumen and
<a href="http://www.willowgarage.com" target="_blank">Willow Garage</a> to take their
research personal robots to the next level and turn them into products for customers
such as hospitals or restaurants.

<!-- this string indicates where the article sohuld be cut -->
READMORE

We contributed our expertise on system integration to
bring some of the existing modules and projects into the services market. We
defined the system architecture and adapted the development infrastructure from
an open source research lab to a private product development business.

At the UX level we created intuitive web interfaces for complex robotics
problems using Ember.js, Web Sockets and the
<%= tag_link "robot web tools" %> project. We also tackled the problem of
non-expert users controlling robots under continuous operation and end-user
robot programming.

At the backend level we worked throughout the whole
<%= tag_link "ros" %> stack using <%= tag_link "cpp" %> and
<%= tag_link "python" %> to implement multiple robot
networks (using a <%= tag_link "ros multimaster" %> setup) and extended the python client
API. We also performed Kinematics analysis on different client
environments using MoveIt!.
