<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "main" %>
    <% if current_page.data.title %>
      <title><%= site_title %> - <%= current_page.data.title %></title>
    <% else %>
      <title><%= site_title %></title>
    <% end %>
    <% if current_page.data.meta_description %>
      <meta content="<%= current_page.data.meta_description %>" name="description" />
    <% else %>
      <meta content="<%= site_description %>" name="description" />
    <% end %>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "navigation" %>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <%= image_tag("logo_white.png", :alt => site_title, :class => "logo") %>
          </div>
          <div class="col-sm-6">
            <p>Ekumen | Phone +54 (11) 5219-0895 |
              <a href="mailto:contact@ekumenlabs.com">contact@ekumenlabs.com</a>
            </p>
            <p>Concepcion Arenal 3425 2-35 | C1427EKA, C.A.B.A | Argentina</p>
            <p>Copyright &copy; <%= Time.now.year %> Ekumen.
              All rights reserved.</p>
          </div>
          <div class="col-sm-3 social-links">
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-google-plus-square"></i>
          </div>

      </div>
    </footer>
    <%= javascript_include_tag "base.js", "bootstrap-includes.js", "main.js" %>
  </body>
</html>
