<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "main" %>
    <% if current_page.data.title %>
      <title><%= site_title %> - <%= current_page.data.title %></title>
    <% else %>
      <title><%= site_title %></title>
    <% end %>
    <% if current_page.data.meta_description %>
      <meta content="<%= current_page.data.meta_description %>" name="description" />
    <% else %>
      <meta content="<%= site_description %>" name="description" />
    <% end %>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "navigation" %>
    <div class="container" role="main">
      <%= yield %>
    </div>
    <footer>
      <div class="container">
        <%= Time.now.year %> <%= site_title %>
      </div>
    </footer>
    <%= javascript_include_tag "base.js", "bootstrap-includes.js", "main.js" %>
  </body>
</html>
