---
title: Blog
layout: page
---

<h1>Blog</h1>

<% blog.articles[0...5].each do |article| %>
  <article>
    <h1>
      <a href="<%= article.url %>"><%= article.title %></a>
      <small><%= article.date.strftime('%b %e %Y') %></small>
    </h1>

    <p><%= article.summary %></p>

    <p><a href="<%= article.url %>">Read more</a></p>
  </article>
<% end %>
