---
title: Home
priority: 1
---

<div class="home-header">
  <div id="carousel-home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-home" data-slide-to="1"></li>
      <li data-target="#carousel-home" data-slide-to="2"></li>
      <li data-target="#carousel-home" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag("carousel/5.jpg", :alt => "Smart, motivated developers for your business") %>
        <div class="carousel-caption">
          <h3>Top technical talent<br/>working to realize your vision</h3>
        </div>
      </div>
      <div class="item">
        <%= image_tag("carousel/6.jpg", :alt => "Smart, motivated developers for your business") %>
        <div class="carousel-caption">
          <h3>Lean development methodology<br/>honed in Silicon Valley</h3>
        </div>
      </div>
      <div class="item">
        <%= image_tag("carousel/1.jpg", :alt => "Smart, motivated developers for your business") %>
        <div class="carousel-caption">
          <h3>Smart, motivated<br/> developers for your<br/> business</h3>
        </div>
      </div>
      <div class="item">
        <%= image_tag("carousel/7.jpg", :alt => "Robots &amp; Drones") %>
        <div class="carousel-caption">
          <h3>Deep expertise<br/>in emerging tech<br/>helps you leap ahead</h3>
        </div>
      </div>
    </div>
  </div>

  <a href="#our-work" class="scroll-down">
    <i class="fa fa-angle-down"></i>
  </a>
</div>

<div class="work">
  <div class="container">
    <h1 id="our-work">Our expertise, your business</h1>
    <p>
      Our talented team of engineers has mastered advanced technologies in key
      areas and thrives on driving innovation with forward-looking companies.
    </p>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <% link_to '/projects.html', :class => 'work-panel work-robotics' do %>
          <h3 class="heading">Robotics Software Applications</h3>
        <% end %>
      </div>
      <div class="col-md-3 col-sm-6">
        <% link_to '/projects.html', :class => 'work-panel work-real-time' do %>
          <h3 class="heading">Web and Mobile Technology</h3>
        <% end %>
      </div>
      <div class="col-md-3 col-sm-6">
        <% link_to '/projects.html', :class => 'work-panel work-android' do %>
          <h3 class="heading">Embedded <br/> Systems</h3>
        <% end %>
      </div>
      <div class="col-md-3 col-sm-6">
        <% link_to '/projects.html', :class => 'work-panel work-simple' do %>
          <h3 class="heading">User&nbsp;Centered Engineering</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="clients">
  <div class="container">
<h3 class="heading">OUR CLIENTS</h3>
    <div class="row">
      <div class="col-sm-2">
        <%= image_tag("clients/saviokeBW.png", :alt => "Savioke" ) %>
      </div>
      <div class="col-sm-3">
          <%= image_tag("clients/celery_logoBW.png", :alt => "Celery") %>
      </div>
      <div class="col-sm-2">
          <%= image_tag("clients/qq.png", :alt => "QinetiQ") %>
      </div>
      <div class="col-sm-3">
          <%= image_tag("clients/willowBW.png", :alt => "Willow Garage") %>
      </div>
      <div class="col-sm-2">
          <%= image_tag("clients/qualcomm-inc-logobw.png", :alt => "Qualcomm") %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= image_tag("clients/premiseBW.png", :alt => "Premise", :rwidth => 500) %>
      </div>
      <div class="col-sm-3">
        <%= image_tag("clients/osrf-pos-horzBW.png", :alt => "Open Source Robotic Foundation.io") %>
      </div>
      <div class="col-sm-2">
        <%= image_tag("clients/clearpathBW.png", :alt => "Clearpath Robotics") %>
      </div>
      <div class="col-sm-3">
        <%= image_tag("clients/yujinrobotBW.png", :alt => "Yujin Robot") %>
      </div>
      <div class="col-sm-2">
        <%= image_tag("clients/University_of_Rochester_logoBW.png", :alt => "University of Rochester") %>
      </div>
    </div>
  </div>
</div>
<br></br>
<div>
<div class="container">
  <div align="center">
    <h1>We’d like to help you solve hard technical problems and realize your business vision</h1>
</div>
</div>
  <div class="row">
    <div class="container">
      <div class="col-sm-6">
        <div align="center">
          <h3>Super-charge your team</h3>
            <div align="justify">
              Complement your team with top talent, adding specific skills or more brainpower to your local team. We have a proven model for remote collaboration: it’ll feel like we are just a cube away.
            </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div align="center">
          <h3>Let us build it for you</h3>
            <div align="justify">
              We work in close collaboration with you to define the requirements, then develop iteratively to make sure you get the results you want, in the time you need them and with the quality you expect.
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
