---
title: Home
priority: 1
---

<div class="home-header">
  <div id="carousel-home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-home" data-slide-to="1"></li>
      <li data-target="#carousel-home" data-slide-to="2"></li>
      <li data-target="#carousel-home" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag("carousel/9.jpg", :alt => "Smart, motivated developers for your business") %>
        <div class="carousel-caption">
          <h3>Top technical talent<br/>working to realize your vision</h3>
        </div>
      </div>
      <div class="item">
        <%= image_tag("carousel/6.jpg", :alt => "Smart, motivated developers for your business") %>
        <div class="carousel-caption">
          <h3>Lean development methodology<br/>honed in Silicon Valley</h3>
        </div>
      </div>
      <div class="item">
        <%= image_tag("carousel/10.jpg", :alt => "Smart, motivated developers for your business") %>
        <div class="carousel-caption">
          <h3>Smart, motivated<br/> developers for your<br/> business</h3>
        </div>
      </div>
      <div class="item">
        <%= image_tag("carousel/7.jpg", :alt => "Robots &amp; Drones") %>
        <div class="carousel-caption">
          <h3>Deep expertise<br/>in emerging tech<br/>helps you leap ahead</h3>
        </div>
      </div>
    </div>
  </div>

  <a href="#our-work" class="scroll-down">
    <i class="fa fa-angle-down"></i>
  </a>
</div>

<div id="work" class="work">

   <!--START OF HIDDEN CONTENT--> 

   <div id='area1' class='area'>
     <div class='container'>
         <h3 class='close' id="close1">X</h3>
       <div class='row'>
         <h1>Robotics Software Applications</h1>
       </div>
       <div id="crop" class='row'>
         <div class="col-lg-12 col-md-11 col-sm-11">
           <img src='images/robotics.jpg' alt='Robotics'>
         </div>
       </div>
       <div class='row'>
         <div class="col-lg-8 col-md-7 col-sm-7">
           <p class="content">
           Active contributors to the ROS ecosystem with specialization on Android, embedded systems and Web technology.<br/>
           </p>
           <p class="content">
           We bring world-class experience with applications of autonomous ground and air robots in the consumer, service, and research fields.
           </p>
         </div>
         <div class="col-md-4 col-sm-4">
           <div class="tags">
             <a class="label" href="projects/tags/ros-internals.html">ROS internals</a>
             <a class="label" href="projects/tags/robot-web-tools.html">Robot Web Tools</a>
             <a class="label" href="projects/tags/system-integration.html">System Integration</a>
           </div>
         </div>
       </div>
     </div>
   </div>

 <div id='area2' class='area'>
     <div class='container'>
         <h3 class='close' id="close2">X</h3>
       <div class='row'>
         <h1>Web and Mobile Technology</h1>
       </div>
       <div id="crop" class='row'>
         <div class="col-lg-12 col-md-11 col-sm-11">
           <img src='images/earth2.jpg' alt='Earth'>
         </div>
       </div>
       <div class='row'>
         <div class="col-md-8 col-sm-8">
           <p class="content">
           Years of experience prototyping and taking to production end-to-end systems to take our customers' innovate technology into the world.
           </p>
           <p class="content">
           We focus on front- and back-end Web technologies, Android, Linux and Cloud. We code in JavaScript, python, Java and C++.
           </p>
         </div>
         <div class="col-md-4 col-sm-2">
           <div class="tags">
             <a class="label" href="projects/tags/android-services.html">Android Services</a>
             <a class="label" href="projects/tags/web-sockets.html">Web Sockets</a>
           </div>
         </div>
       </div>
     </div>
   </div>

 <div id='area3' class='area'>
     <div class='container'>
         <h3 class='close' id="close3">X</h3>
       <div class='row'>
         <h1>Embedded Systems</h1>
       </div>
       <div id="crop" class='row'>
         <div class="col-lg-12 col-md-11 col-sm-11">
           <img src='images/drone.jpg' alt='Drone'>
         </div>
       </div>
       <div class='row'>
         <div class="col-md-8 col-sm-8">
           <p class="content">
           We build efficient software to run on ground robots, fly on drones and glide under the user's touch on mobile devices.
           </p>
           <p class="content">
           Blending our EE and CS background we are able to develop high quality software not just for x86 but for modern, advanced, mobile architectures. 
           </p>
         </div>
         <div class="col-md-4 col-sm-2">
           <div class="tags">
             <a class="label" href="projects/tags/ros-internals.html">ROS Internals</a>
             <a class="label" href="projects/tags/system-integration.html">System Integration</a>
             <a class="label" href="projects/tags/ros-stack.html">ROS Stack</a>
             <a class="label" href="projects/tags/robot-web-tools.html">Robot Web Tools</a>
           </div>
         </div>
       </div>
     </div>
   </div>

 <div id='area4' class='area'>
     <div class='container'>
         <h3 class='close' id="close4">X</h3>
       <div class='row'>
         <h1>User Centered Engineering</h1>
       </div>
       <div id="crop" class='row'>
         <div class="col-lg-12 col-md-11 col-sm-11">
           <img class='work-panel' src='images/phone.jpg' alt='Phone'>
         </div>
       </div>
       <div class='row'>
         <div class="col-md-8 col-sm-8">
           <p class="content">
           We develop intuitive user interfaces, applications and SDKs around the technology innovations that form the core business of our customers.
           </p>
           <p class="content">
           We use our years of experience in HCI to bridge the gap between technical experts and consumers of their technology. 
           </p>
         </div>
         <div class="col-md-4 col-sm-2">
           <div class="tags">
             <a class="label" href="projects/tags/android-ndk.html">Android NDK</a>
             <a class="label" href="projects/tags/android-services.html">Android Services</a>
         </div>
       </div>
     </div>
   </div>
 </div>

   <!--END OF HIDDEN CONTENT--> 

  <div id='small' class="container">
    <h1 id="our-work">Our expertise, your business</h1>
    <p>
      Our talented team of engineers has mastered advanced technologies in key
      areas and thrives on driving innovation with forward-looking companies.
    </p>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <% link_to '/projects.html', :class => 'work-panel work-robotics' do %>
          <h3 class="heading">Robotics Software Applications</h3>
        <% end %>
      </div>
      <div class="col-md-3 col-sm-6">
        <% link_to '/projects.html', :class => 'work-panel work-real-time' do %>
          <h3 class="heading">Web and Mobile Technology</h3>
        <% end %>
      </div>
      <div class="col-md-3 col-sm-6">
        <% link_to '/projects.html', :class => 'work-panel work-android' do %>
          <h3 class="heading">Embedded <br/> Systems</h3>
        <% end %>
      </div>
      <div class="col-md-3 col-sm-6">
        <% link_to '/projects.html', :class => 'work-panel work-simple' do %>
          <h3 class="heading">User&nbsp;Centered Engineering</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="clients">
  <div class="container">
<h3 class="heading">OUR CLIENTS</h3>
    <div class="row">
      <div class="col-sm-2">
        <%= image_tag("clients/saviokeBW.png", :alt => "Savioke" ) %>
      </div>
      <div class="col-sm-3">
          <%= image_tag("clients/celery_logoBW.png", :alt => "Celery") %>
      </div>
      <div class="col-sm-2">
          <%= image_tag("clients/qq.png", :alt => "QinetiQ") %>
      </div>
      <div class="col-sm-3">
          <%= image_tag("clients/willowBW.png", :alt => "Willow Garage") %>
      </div>
      <div class="col-sm-2">
          <%= image_tag("clients/qualcomm-inc-logobw.png", :alt => "Qualcomm") %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= image_tag("clients/premiseBW.png", :alt => "Premise", :rwidth => 500) %>
      </div>
      <div class="col-sm-3">
        <%= image_tag("clients/osrf-pos-horzBW.png", :alt => "Open Source Robotic Foundation.io") %>
      </div>
      <div class="col-sm-2">
        <%= image_tag("clients/clearpathBW.png", :alt => "Clearpath Robotics") %>
      </div>
      <div class="col-sm-3">
        <%= image_tag("clients/yujinrobotBW.png", :alt => "Yujin Robot") %>
      </div>
      <div class="col-sm-2">
        <%= image_tag("clients/University_of_Rochester_logoBW.png", :alt => "University of Rochester") %>
      </div>
    </div>
  </div>
</div>
<br></br>
<div>
<div class="container">
  <div align="center">
    <h1>We’d like to help you solve hard technical problems and realize your business vision</h1>
</div>
</div>
  <div class="row">
    <div class="container">
      <div class="col-sm-6">
        <div align="center">
          <h3>Super-charge your team</h3>
            <div align="justify">
              Complement your team with top talent, adding specific skills or more brainpower to your local team. We have a proven model for remote collaboration: it’ll feel like we are just a cube away.
            </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div align="center">
          <h3>Let us build it for you</h3>
            <div align="justify">
              We work in close collaboration with you to define the requirements, then develop iteratively to make sure you get the results you want, in the time you need them and with the quality you expect.
            </div>
        </div>
      </div>
    </div>
  </div>
</div>          
