---
title: Home
priority: 1
---

<div class="home-header">
  <div id="carousel-home" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-home" data-slide-to="1"></li>
      <li data-target="#carousel-home" data-slide-to="2"></li>
      <li data-target="#carousel-home" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag("carousel/5.jpg", :alt => "Smart, motivated developers for your business") %>
        <div class="carousel-caption">
          <h3>Top technical talent<br/>working to realize your vision</h3>
        </div>
      </div>
      <div class="item">
        <%= image_tag("carousel/6.jpg", :alt => "Smart, motivated developers for your business") %>
        <div class="carousel-caption">
          <h3>Lean development methodology<br/>honed in Silicon Valley</h3>
        </div>
      </div>
      <div class="item">
        <%= image_tag("carousel/1.jpg", :alt => "Smart, motivated developers for your business") %>
        <div class="carousel-caption">
          <h3>Smart, motivated<br/> developers for your<br/> business</h3>
        </div>
      </div>
      <div class="item">
        <%= image_tag("carousel/7.jpg", :alt => "Robots &amp; Drones") %>
        <div class="carousel-caption">
          <h3>Deep expertise<br/>in emerging tech<br/>helps you leap ahead</h3>
        </div>
      </div>
    </div>
  </div>

  <a href="#our-work" class="scroll-down">
    <i class="fa fa-angle-down"></i>
  </a>
</div>

<div class="work">
  <div class="container">
    <h1 id="our-work">Our work</h1>
    <p>We are people from different parts of the planet to build technology for the world</p>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <% link_to '/projects.html', :class => 'work-panel work-real-time' do %>
          <h3 class="heading">Real-time Web application development</h3>
        <% end %>
      </div>
      <div class="col-md-3 col-sm-6">
        <% link_to '/projects.html', :class => 'work-panel work-simple' do %>
          <h3 class="heading">Simple usable interfaces to complex systems</h3>
        <% end %>
      </div>
      <div class="col-md-3 col-sm-6">
        <% link_to '/projects.html', :class => 'work-panel work-robotics' do %>
          <h3 class="heading">Web robotics</h3>
        <% end %>
      </div>
      <div class="col-md-3 col-sm-6">
        <% link_to '/projects.html', :class => 'work-panel work-android' do %>
          <h3 class="heading">Android-based systems and applications</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="clients">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h4 class="heading">OUR CLIENTS</h4>
      </div>
      <div class="col-sm-3">
          <%= image_tag("clients/savioke.png", :alt => "Savioke") %>
      </div>
      <div class="col-sm-3">
          <%= image_tag("clients/qq.png", :alt => "QinetiQ") %>
      </div>
      <div class="col-sm-3">
          <%= image_tag("clients/yujinrobot.png", :alt => "Yujin Robot") %>
      </div>
    </div>
  </div>
</div>
