---
title: Home
priority: 1
---

<div class="home-header">
  <div class="container">
    <div id="carousel-home" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-home" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag("carousel/1.jpg", :height => "100") %>
          <div class="carousel-caption">
            <h3>Smart, motivated developers for your business</h3>
          </div>
        </div>
        <div class="item">
          <%= image_tag("carousel/2.jpg", :height => "100") %>
          <div class="carousel-caption">
            <h3>Robots &amp; Drones</h3>
            <p>We are working with World's leading companies.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="work">
  <div class="container">
    <h1>Our work</h1>
    <p>We are people from different parts of the planet to build technology for the world</p>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="work-panel work-real-time">
          <h3 class="heading">Real-time Web application development</h3>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="work-panel work-simple">
          <h3 class="heading">Simple usable interfaces to complex systems</h3>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="work-panel work-robotics">
          <h3 class="heading">Web robotics</h3>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="work-panel work-android">
          <h3 class="heading">Android-based systems and applications</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clients">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h4 class="heading">OUR CLIENTS</h4>
      </div>
      <div class="col-sm-3">
          <%= image_tag("clients/savioke.png", :alt => "Savioke") %>
      </div>
      <div class="col-sm-3">
          <%= image_tag("clients/qq.png", :alt => "QinetiQ") %>
      </div>
      <div class="col-sm-3">
          <%= image_tag("clients/yujinrobot.png", :alt => "Yujin Robot") %>
      </div>
    </div>
  </div>
</div>
