---
title: Projects
layout: page
blog: projects
js:
  - projects.js
---

<div class="row">
  <div class="col-md-9">
    <article id="projects">
      <h1>Projects</h1>
      <% blog.articles.select{|article| article.data.category == 'projects'}.each do |project| %>
        <section id="<%= project.slug %>">
          <h2>
            <%= link_to project.title, project.path %>
          </h2>

          <p><%= project.summary %></p>
          <p><%= link_to "Read more &#8594;", project.path %></p>
        </section>
      <% end %>
    </article>

    <article id="labs">
      <h1>Lab</h1>
        <% blog.articles.select{|article| article.data.category == 'labs'}.each do |project| %>
        <section id="<%= project.slug %>">
          <h2>
            <%= link_to project.title, project.path %>
          </h2>

          <p><%= project.summary %></p>
          <p><%= link_to "Read more &#8594;", project.path %></p>
        </section>
      <% end %>
    </article>

    <h1>Tag cloud</h1>
    <div class="tag-cloud">
      <% blog.tags.each do |tag, articles| %>
        <span class="label label-success"><%= link_to tag, tag_path(tag) %></span>
      <% end %>
    </div>
  </div>

  <div class="col-md-3" role="complementary">
    <nav class="projects-sidebar hidden-xs hidden-sm affix-nav" data-spy="affix" data-offset-top="100" data-offset-bottom="200">
      <ul class="nav">
        <li>
          <h4>Projects</h4>
          <ul class="nav">
            <% blog.articles.select{|article| article.data.category == 'projects'}.each do |project| %>
              <li><a href="#<%= project.slug %>"><%= project.title %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <ul class="nav">
        <li>
          <h4>Lab</h4>
          <ul class="nav">
            <% blog.articles.select{|article| article.data.category == 'labs'}.each do |project| %>
              <li><a href="#<%= project.slug %>"><%= project.title %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
